body {
    background:#000;
    font-family: "Garamond", "Times New Roman", Serif;
    color: #000;
    text-align: center;
}

h1 {
    font-family: "Garamond", "Times New Roman", Serif;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.wrapper {
    margin: 50px auto auto;
    width: 400px;
}

/* game ui info */
.header {
    color: #fff;
    text-align: center;
}

.header .red {
    color: red;
}

.header .yellow {
    color: yellow;
}

.title {
    text-align: center;
    font-size: 300%;
}

/*
game ui messages
https://www.w3schools.com/cssref/css_units.asp
*/
.info {
    font-size: 1.3em;
}

/*
https://www.w3schools.com/cssref/pr_class_display.asp
*/
.playagain {
    display: none;
}

.playagain {
    display: inline-block;
    background: #333fff;
    color: white;
    width: 50%;
    height: 50px;
    font-family: "Garamond", "Times New Roman", Serif;
    font-size: 200%;
    line-height: 50px;
    text-decoration: none;
}
.playagain:hover {
    background: #000fff;
}

/*
https://www.w3schools.com/cssref/css3_pr_border-radius.asp
*/
.board button {
    background: #808080;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
}

button.red {
  background: #cc0000;
  background: linear-gradient(to bottom, #ff0000 0%,#cc0000 100%);
}

button.yellow {
  background: #ffcc00;
  background: linear-gradient(to bottom, #ffee00 0%,#ffcc00 100%);
}